<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ conf.GA_TRACKING_ID }}"></script>
        <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ conf.GA_TRACKING_ID }}');
gtag('config', '{{ conf.AW_TRACKING_ID }}'); //tracking for Googld Ads
    </script><!-- End of Global Site Tag (gtag.js) - Google Analytics -->
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <meta content="0.0.2" name="version">
        <meta content="2019 Jan 08" name="revised">
        {% block content_meta %}<meta content="KBase apps are analysis tools that you can use in KBase. Apps interoperate seamlessly to enable a range of scientific workflows (see figure below). Some of the apps were written by KBase scientists and developers; others are third-party tools that were integrated into KBase with our Software Developer Kit (SDK). The number of apps available in KBase will increase rapidly as members of the community use our SDK to integrate their analysis tools into the KBase platform.
                                                                The KBase App Catalog lists all of the currently available apps." name="Kbase App Catalog">
        {% endblock %}
        {% block title %}
            <title>KBase App Catalog</title>
        {% endblock %}
        <script src="static/wp/js/jquery.js" type="text/javascript"></script>
        <script src="static/wp/js/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="static/wp/js/kbaseUtils.js" type="text/javascript"></script>
        <!-- <link rel="https://api.w.org/" href="https://kbase.us/wp-json/"> -->
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/>
        <link href="static/wp/css/grid.css?ver=4.7.3" id="grid-css" media="all" rel="stylesheet" type="text/css">
        <link href="static/wp/bootstrap/css/bootstrap.min.css" id="bootstrap-css" media="all" rel="stylesheet" type="text/css">
        <link href="static/wp/bootstrap/css/bootstrap-theme.css" id="bootstrap-theme-css" media="all" rel="stylesheet" type="text/css">
        {% block style %}<link href="static/style.css" rel="stylesheet">
        {% endblock %}
        <meta id="organized_list_items" data-name="{{ numCategories }}" data-other="{{other}}">
        <link href="static/wp/images/favicon.ico" rel="shortcut icon"/>
    </head>

    <body>
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brandx" href="http://kbase.us">
                        <img alt="KBase" src="static/wp/images/kbase-logo-web.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse  kbase-main-nav">
                    <ul class="nav navbar-nav" id="menu-main-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5406 dropdown" id="menu-item-5406">
                            <a aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" title="About">About
                                <span class="caret"></span>
                            </a>
                            <ul class=" dropdown-menu" role="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7789" id="menu-item-7789">
                                    <a href="http://kbase.us/new-to-kbase/" title="New to KBase?">New to KBase?</a>
                                </li>
                                <li class="dropdown-header" role="presentation">About Us</li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5408" id="menu-item-5408">
                                    <a href="http://kbase.us/what-is-kbase/" title="What Is KBase?">What Is KBase?</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5452" id="menu-item-5452">
                                    <a href="http://kbase.us/wp-content/uploads/2018/02/KBase-OverviewFeb2018_web.pdf" target="_blank" title="KBase Brochure (PDF)">KBase Brochure (PDF)</a>
                                </li>
                                <li class="dropdown-header" role="presentation">Updates</li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13405" id="menu-item-13405">
                                    <a href="http://kbase.us/news-from-2018/" title="News">News</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5768" id="menu-item-5768">
                                    <a href="http://kbase.us/newsletter/" title="Newsletter">Newsletter</a>
                                </li>
                                <li class="dropdown-header" role="presentation">More information</li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6547" id="menu-item-6547">
                                    <a href="http://kbase.us/testimonials/" title="Testimonials">Testimonials</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5492" id="menu-item-5492">
                                    <a href="http://kbase.us/the-team/" title="The Team">The Team</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11380" id="menu-item-11380">
                                    <a href="http://kbase.us/sac/" title="Scientific Advisory Committee">Scientific Advisory Committee</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5415" id="menu-item-5415">
                                    <a href="http://kbase.us/terms-and-conditions/" title="Terms and Conditions">Terms and Conditions</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5416" id="menu-item-5416">
                                    <a href="http://kbase.us/acknowledgements/" title="Acknowledgements">Acknowledgements</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5417" id="menu-item-5417">
                                    <a href="http://kbase.us/contact-us/" title="Contact Us">Contact Us</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-5418 dropdown" id="menu-item-5418">
                            <a aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" title="Data &amp; Tools">Data &amp; Tools
                                <span class="caret"></span>
                            </a>
                            <ul class=" dropdown-menu" role="menu">
                                <li class="dropdown-header" role="presentation">Data</li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5420" id="menu-item-5420">
                                    <a href="http://kbase.us/data-summary/" title="Data Summary">Data Summary</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5421" id="menu-item-5421">
                                    <a href="http://kbase.us/data-policy-and-sources/" title="Data Policy &amp; Sources">Data Policy &amp; Sources</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13786" id="menu-item-13786">
                                    <a href="http://kbase.us/transfer-jgi-data/" title="JGI Data to KBase">JGI Data to KBase</a>
                                </li>
                                <li class="dropdown-header" role="presentation">Tools</li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5423" id="menu-item-5423">
                                    <a href="https://narrative.kbase.us/" target="_blank" title="Use KBase">
                                        <span class="glyphicon glyphicon-new-window"></span>&nbsp;Use KBase</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5448" id="menu-item-5448">
                                    <a href="http://kbase.us/apps/" title="App Catalog">App Catalog</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7087 current_page_item menu-item-9196" id="menu-item-9196">
                                    <a href="http://kbase.us/assembly-and-annotation/" title="Assembly &amp; Annotation">Assembly &amp; Annotation</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14875" id="menu-item-14875">
                                    <a href="http://kbase.us/community-metagenomic-analysis/" title="Community &amp; Metagenomic Analysis">Community &amp; Metagenomic Analysis</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9199" id="menu-item-9199">
                                    <a href="http://kbase.us/metabolic-modeling-in-kbase/" title="Metabolic Modeling">Metabolic Modeling</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9202" id="menu-item-9202">
                                    <a href="http://kbase.us/comparative-and-phylogenetic-analysis/" title="Comparative &amp; Phylogenetic Analysis">Comparative &amp; Phylogenetic Analysis</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9193" id="menu-item-9193">
                                    <a href="http://kbase.us/transcriptomics-and-expression-analysis/" title="Expression Analysis">Expression Analysis</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9004 dropdown" id="menu-item-9004">
                            <a aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" title="Research">Research
                                <span class="caret"></span>
                            </a>
                            <ul class=" dropdown-menu" role="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14500" id="menu-item-14500">
                                    <a href="http://kbase.us/kbase-paper/" title="KBase Project Paper">KBase Project Paper</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6455" id="menu-item-6455">
                                    <a href="http://kbase.us/publications/" title="Publications Using KBase for Analysis">Publications Using KBase for Analysis</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6843" id="menu-item-6843">
                                    <a href="http://kbase.us/research-highlights/" title="Research Highlights">Research Highlights</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5453" id="menu-item-5453">
                                    <a href="http://kbase.us/narrative-library/" title="Narrative Library">Narrative Library</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5425 dropdown" id="menu-item-5425">
                            <a aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" title="Documentation">Documentation
                                <span class="caret"></span>
                            </a>
                            <ul class=" dropdown-menu" role="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12283" id="menu-item-12283">
                                    <a href="http://kbase.us/kbase-documentation/" title="KBase Documentation — Overview">KBase Documentation — Overview</a>
                                </li>
                                <li class="dropdown-header" role="presentation">Guides</li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5427" id="menu-item-5427">
                                    <a href="http://kbase.us/narrative-quick-start/" title="Narrative Interface Quick Start">Narrative Interface Quick Start</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5451" id="menu-item-5451">
                                    <a href="http://kbase.us/narrative-guide/" title="Narrative Interface User Guide">Narrative Interface User Guide</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5434" id="menu-item-5434">
                                    <a href="https://www.youtube.com/embed/FVS3MI5gCU8" target="_blank" title="Narrative Interface Video Tutorial">
                                        <span class="glyphicon glyphicon-new-window"></span>&nbsp;Narrative Interface Video Tutorial</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5428" id="menu-item-5428">
                                    <a href="http://kbase.us/data-upload-download-guide/" title="Data Upload and Download Guide">Data Upload and Download Guide</a>
                                </li>
                                <li class="dropdown-header" role="presentation">FAQs</li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5437" id="menu-item-5437">
                                    <a href="http://kbase.us/frequently-asked-questions/" title="General FAQ">General FAQ</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5436" id="menu-item-5436">
                                    <a href="http://kbase.us/metabolic-modeling-faq/" title="FAQ: Metabolic Modeling in KBase">FAQ: Metabolic Modeling in KBase</a>
                                </li>
                                <li class="dropdown-header" role="presentation">For Developers</li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5450" id="menu-item-5450">
                                    <a href="http://kbase.us/developer/" title="Information for Developers – KBase SDK">Information for Developers – KBase SDK</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5439 dropdown" id="menu-item-5439">
                            <a aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" title="Help">Help
                                <span class="caret"></span>
                            </a>
                            <ul class=" dropdown-menu" role="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5440" id="menu-item-5440">
                                    <a href="http://kbase.us/new-to-kbase/" title="New to KBase?">New to KBase?</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5494" id="menu-item-5494">
                                    <a href="http://kbase.us/sign-up-for-a-kbase-account/" title="Sign Up">Sign Up</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5443" id="menu-item-5443">
                                    <a href="http://kbase.us/report-an-issue/" title="Troubleshooting">Troubleshooting</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5442" id="menu-item-5442">
                                    <a href="http://kbase.us/contact-us/" title="Contact Us">Contact Us</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12214" id="menu-item-12214">
                                    <a href="http://kbase.us/help-board/" title="KBase Help Board">KBase Help Board</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11314" id="menu-item-11314">
                                    <a href="https://kbase-jira.atlassian.net/projects/PUBLIC/summary" title="Sign in to Help Board">
                                        <span class="glyphicon glyphicon-new-window"></span>&nbsp;Sign in to Help Board</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-btns navbar-right">
                        <a class="btn btn-primary navbar-btn" href="http://kbase.us/sign-up-for-a-kbase-account" target="_blank">Sign Up</a>
                        <a class="btn btn-primary navbar-btn" href="https://narrative.kbase.us" target="_blank">Sign In</a>
                    </div>
                    <!-- <form action="/" class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input class="form-control" name="s" placeholder="Search documentation" type="text">
                        </div>
                        <button class="btn btn-default" type="submit">
                            <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                        </button>
                    </form> -->

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- end of navbar navbar-default -->

        {% block content %}{% endblock %}

        <script src="static/wp/bootstrap/js/bootstrap.min.js?ver=3.2.0" type="text/javascript"></script>
        <script src="static/wp/js/bs-extra.js" type="text/javascript"></script>
    </body>

</html>
