body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    margin-top: 0px;
}
.btn {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0;
    text-transform: none;
}
h1, h2, h3, h4, h5 {
    color: rgb(119, 119, 119);
}
div.navbar.navbar-default {
    margin-bottom: 0px;
    position: sticky;
    top: 0px;
    z-index: 2;
}
nav {
    margin-top: 0px;
    z-index: 1;
}
#app-catalog-header {
    background-color: #e4ebad;
    height: 50px;
    width: 100vw;
    padding-left: 10em;
    padding-right: 5em;
    margin: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
div.dropdown-container {
    float: left;
    height: 50px;
    display: inline-flex;
    font-size: 16px;
    color: #777;
}
div.dropdown-container > span.caret {
    margin-top: 24px;
    margin-left: 5px;
}
div.header-container:hover, div.header-container:focus, div.header-container:active {
    cursor: pointer;
}
div.header-container {
    float: right;
    margin-top: 0px;
    padding-top:14px;
    display: inline-flex;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
}
div.header-container > a {
    color: #777;
}

.navbar-form {
    margin-top: 14px;
}
.menu-item {
    margin: 0px;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
    border-style: none;
    padding: 14 15 14 15;
    color: #777;
    line-height: 22px;
    background: none;
 }

 table {
    table-layout: fixed;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 100vh;
 }
 
 td {
     padding: 0.5em;
 }

select:hover, select:focus, select:active {
    cursor: pointer;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.organized-by {
    z-index: 0;
    width: 100%;
    color: #6b844b;
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em, 0, 0, 1em;
    height: 75px;
}
.organized-by.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    padding-left: 1em;
    padding-top: 1em;
    background:#ffffff9c;
}

.side-nav  {
    font-size: 0.8em;
    color: #6b844b;
}
.side-nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
}
a.anchor-link{
    font-size: 1em;
    color: #6b844b;
}
.icon-img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 0.1em;
    margin-bottom: 0.35em;
}

#app-organized-list-container {
    width: 90vw;
    max-width: 1024px; 
    font-family: inherit;
}
.flex-container {
    display: flex;
}
.left-col{ 
    order: 1;
    min-width: 112px;
}

.scroll {
    max-height: 75vh;
    overflow-y: scroll;
}
.app-list-container {
    padding: 0px;
    order: 2;
}
.secret-spice {
    position: relative;
    top: -100px;
}
.app-list {
    margin-bottom: 5vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.app-card{
    max-width: 45%;
    margin: 1em;
    padding: 1vw;
    background-color: rgb(241, 241, 245);
    color: #666;
    flex-grow: 1;
}
.app-title,.app-title:hover {
    width: 75%;
    margin-left: 0.6em;
    color: #666;
    font-size: 1.1em;
    text-decoration: none;
    float: left;
}
.module-name:hover, .dev-link:hover {
    text-decoration: underline;
}
.module-name-tooltip{
    clear: both;
    font-size: 0.8em;
}
.devs {
    font-size: 0.7em;
}
.kbase-main-nav .navbar-btns {
    margin-top: 6px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
.kbcb-hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.kbcb-hover:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.kbase-main-nav {
    margin: 0px;
}
.navbar-nav {
    margin-top: 8px;
    margin-left: 40px;
}
/* app page style */
.content{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 90vw;
    margin: auto;
    font-family: 'Oxygen', Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
div.kbcb-back-link {
    padding: 0.4em;
}

.app-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 241, 245);
    padding: 0 1em 1em 1.5em;
    color: #666;
}
.app-info-container {
    padding-left: 1em;
    display: inline-table;
    width: calc(100% - 227px);
    padding-top: 0.5em;
}
.app-page-title {
    font-size: 2em; 
    margin-top: 0px;
}
.app-page-module {
    font-size: 1.2em;
}
.app-header-icon {
    width: 93px;
    height: 93px;
    margin-top: 15px;
}
.app-page-devs {
    font-size: 1em;
    display: inline;
}
.app-page-version {
    display: inline;
}
.app-page-subtitle {
    padding: 1.5em 2em 0em 2em;
    font-size: 1.2em;
}
.launch-narrative-btn {
    height: 93px;
    width: 93px;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-top: 15px;
}
.icon-img-l {
    width: 92.7px;
    height: 92.7px;
}
.app-spec {
    border: 1px solid #eee;
    padding: 0.5em;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}