{% extends "base.html" %}
{% block content%}
    <nav class="sticky">
        <div id="app-catalog-header" class="c">
            <div class="dropdown-container">
                <select name="organize-by" id="organizeBy-select">
                    {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>  
                    {% endfor %}
                </select>
            </div>  
            <div class="header-container"><a class="header-href" href="#">Back to top</a></div>
        </div>
    </nav>

    <div id="app-organized-list-container" class="c">
        <div class="row">
        <div class="flex-container">
            <div class="left-col 3 col">
                <div class="side-nav sticky">
                    <div class="scroll">
                        <table class="w-100">
                            <tbody>
                            {% for item, app_list in organized_list.items() %}
                                <tr><td> <a class="anchor-link" href="#{{ item }}">{{ item }}</a></td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="app-list-container 9 col">
            {% for item, app_list in organized_list.items() %}
                <div class="secret-spice" id="{{ item }}"></div> <!-- dummy div to align app-list -->
                <div class="app-list">
                    <div class="organized-by sticky">{{ item }}</div>
                {% for app in app_list %}
                <!-- TODO: change href to https://kbase.us/catalog/apps/{{ app.id }}/release-->
                    <!--<a href="https://narrative.kbase.us/#catalog/apps/{{ app.id }}"> -->
                    <a href="http://localhost:5000/apps/{{ app.id }}/release">
                        <div class="app-card kbcb-hover">
                            <div class="app-card-header" module="{{ item }}" name="{{ app.name }}" id="{{ app.id}}">
                                {% if app.icon %}
                                <img class="icon-img" src="https://kbase.us/services/narrative_method_store/{{ app.icon.url }}" >
                                {% else %}
                                <i class="far fa-question-circle"></i>
                                <img class="icon-img" src="https://cdn3.iconfinder.com/data/icons/trico-rounded-squares/24/Rounded-Square-Question-512.png">
                                {% endif %} 
                                <p class="app-title"> {{ app.name }} </p>
                            </div>
                            <div class="module-name-tooltip">
                                <a class="module-name" href="https://narrative.kbase.us/#catalog/modules/{{ app.module_name }}">{{ app.module_name }}</a>
                                {% if app.subtitle != "none" %}
                                <p>{{ app.subtitle }}</p>
                                {% endif %}

                                {% if app.tooltip is not none %}
                                <p>Tool Tip: {{ app.tooltip }}
                                {% endif %}
                            </div>
                            {% if  app.authors|length > 0 %}
                            <div class="devs">
                                By: 
                                {% for developr in app.authors %}
                                    <a class="dev-link" href = "https://narrative.kbase.us/#people/{{developr}}">{{ developr }}</a>{{ "," if not loop.last }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
                </div> <!--  End of class="app-list" -->
            {% endfor %}
            </div> <!-- End of class="app-list-container" -->
        </div> <!-- End of class="row" -->
    </div> <!-- End of class="app-organized-list-container c" -->

    <script>
        let dropdown = document.querySelector('#organizeBy-select');
        document.addEventListener('DOMContentLoaded',function() {
            document.querySelector('select[name="organize-by"]').onchange=changeEventHandler;
        },false);
        
        function changeEventHandler(event) {
            window.location.hash = "";
            if(!event.target.value) alert('Please Select One');
            window.location.search = '?organize_by='+event.target.value;
        }
        let scroll = document.querySelector(".scroll");
        document.addEventListener("click", function(event) {
            scroll.scrollTop = 0;
        }, false);
    </script>
{% endblock content %}  